# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.pytest_cache/
.mypy_cache/
.venv/
venv/

# Environment
.env
.env.*

# Logs
*.log

# Build artifacts
/build/
/dist/
